body {
  margin: 0;
  background-color: black;
  color: #eee;
  padding: 0;
  font-family: sans-serif;
}

div.header {
  background-color: #111;
  padding: 0;
}

div.header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  margin: 0;
}

a.active {
  background-color: #0099ff;
}

/* https://drafts.csswg.org/css-values/#viewport-relative-lengths */
div.clock-time {
  text-align: center;
}

div.clock-date {
  font-size: 10vw;
}

div.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 150px;
  height: 100px;
}
