body {
  margin: 0;
  background-color: black;
  color: #eee;
  padding: 0;
  font-family: sans-serif;
}

div.header {
  background-color: #111;
  padding: 0;
}

div.header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  margin: 0;
}

a.active {
  background-color: #0099ff;
}

div.controls {
  text-align: center;
}

div.controls img {
  height: 30px;
  width: 30px;
  margin: 1px;
}

div.clock-time {
  text-align: center;
  line-height: 1.0;
}

div.clock-date {
  text-align: center;
  line-height: 1.0;
  font-size: 10vw;
}

div.colors {
  text-align: center;
}

div.color {
  display: inline-block;
  width: 30px;
  height: 30px;
}
