body {
  margin: 0;
  background-color: black;
  padding: 0;
  font-family: sans-serif;
}

/* Vertical center. */
div.viewport {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.show-time {
  line-height: 1;
}

div.show-date {
  line-height: 1;
}

div.controls img {
  height: 30px;
  width: 30px;
  margin: 3px;
}

div.color {
  display: inline-block;
  width: 30px;
  height: 30px;
}
